EVENT_PLUGIN_ENABLED=
EVENT_PLUGIN_BACKEND=
EVENT_PLUGIN_MONGO_SERVER=
EVENT_PLUGIN_MONGO_DB_USERNAME=
EVENT_PLUGIN_MONGO_DB_PASSWORD=
EVENT_PLUGIN_BLOCK_TRIGGER_ENABLED=
EVENT_PLUGIN_TRANSACTION_TRIGGER_ENABLED=
EVENT_PLUGIN_CONTRACTEVENT_TRIGGER_ENABLED=
EVENT_PLUGIN_STARTING_BLOCK=
EVENT_PLUGIN_ADDRESS_FILTER=
EVENT_PLUGIN_TOPIC_FILTER=