EVENT_PLUGIN_ENABLED=
EVENT_PLUGIN_STARTING_BLOCK=
EVENT_PLUGIN_BACKEND=
EVENT_PLUGIN_BLOCK_TRIGGER_ENABLED=
EVENT_PLUGIN_TRANSACTION_TRIGGER_ENABLED=
EVENT_PLUGIN_CONTRACTEVENT_TRIGGER_ENABLED=
EVENT_PLUGIN_CONTRACTLOG_TRIGGER_ENABLED=
EVENT_PLUGIN_SOLIDITY_BLOCK_TRIGGER_ENABLED=
EVENT_PLUGIN_SOLIDITY_EVENT_TRIGGER_ENABLED=
EVENT_PLUGIN_SOLIDITY_LOG_TRIGGER_ENABLED
EVENT_PLUGIN_ADDRESS_FILTER=
EVENT_PLUGIN_TOPIC_FILTER=

MONGO_RETENTION_DAYS=

JAVA_TRON_VERSION=